certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.8
loguru==0.7.2
psycopg==3.2.1
psycopg-binary==3.2.1
python-dotenv==1.0.1
requests==2.32.3
schedule==1.2.2
typing_extensions==4.12.2
urllib3==2.2.2
